html, body {
    width: 100%;
    height: 100%;
    background-color: #000;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    background-color: #000;
}

.intro {
    background-color: #000;
}

.logo {
    max-width: 100px;
}

.container {
    max-width: 1130px;
    padding: 0 10px;
    margin: 0 auto;
}

.navigation {
    padding: 15px;
}

.navigation__list {
    display: flex;
    gap: 20px;
    font-family: 'Fira Sans', sans-serif;
}

.navigation__list a {
    color: gray;
    font-size: 20px;
}

.navigation__list a:hover {
    color: #fff;
    transition: 0.4s;
}

.button {
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    background-color: #c8080c;
    border: none;
    border-radius: 40px;
}

.button:hover {
    transition: .4s;
    box-shadow: 0px 0px 18px #c8080c;
}

.btn {
    font-family: 'Fira Sans', sans-serif;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid #fff;
}

.btn:hover {
    transition: .4s;
    border: 1px solid gray;
}

.navigation__button {
    padding: 15px 30px;
}

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    font-weight: 800;
    font-size: 80px;
    line-height: 1.3;
    text-align: center;
    margin-top: 100px;
}

.hero-p {
    font-family: 'Fira Sans', sans-serif;
    color: gray;
    font-size: 30px;
    line-height: 1.3;
    text-align: center;
    margin-top: 20px;
}

.hero__button {
    margin-top: 40px;
    padding: 25px 50px;
    max-width: 400px;
    font-size: 25px;
    font-weight: 500;
}

.ipad {
    margin-top: 70px;
    max-width: 80%;
}

.technology {
    margin: 20px 0 50px 0;
}

.technology__content {
    border: 2px solid #c8080c;
    display: flex;
    font-family: 'Fira Sans', sans-serif;
}

.technology__content--left {
    display: flex;
    max-width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.technology__content--right {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    padding: 60px 60px 20px 60px;
}

.technology__title {
    font-family: 'Fira Sans', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.3;
    padding: 0 50px;
}

.technology__item {
    display: flex;
    margin-bottom: 40px;
    width: 100%;
    gap: 55px;
    align-items: center;
}

.technology__item--left {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.technology__item--left h4 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 20px;
}

.technology__item--left p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    line-height: 1.3;
}

.technology__item--right {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.technology__item--right h4 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}

.project__content {
    position: relative;
    height: 370px;
}

.project__title {
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.3;
    text-align: center;
    margin: 30px 0;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.swiper-button-next, .swiper-button-prev  {
    top: 80px !important;
}

.slide h4 {
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 35px;
}

.swiper {
    width: 100%;
    height: 60%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

        /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0px !important;
}

.swiper-button-prev {
    color: #fff !important;
}

.swiper-button-next {
    color: #fff !important;
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
}

.swiper-pagination-bullet {
    background-color: #fff !important;
    opacity: 0.5;
}

.clients__title {
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 40px;
}

.clients__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.clients__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 20px;

}

.clients__subtitle {
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.3;
}

#mostbet {
    max-width: 230px;
}

#ligastavok {
    max-width: 220px;
}

#gg {
    max-width: 190px;
}

#gambling {
    max-width: 300px;
}

#offerum {
    max-width: 250px;
}

#alfaleads {
    max-width: 170px;
}

#applink {
    max-width: 120px;
}

#whitebit {
    max-width: 130px;
}
.stack__title {
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 30px;
}

.stack__subtitle {
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.stack__card {
    background-color: #fff;
}

.stack {
    padding-bottom: 40px;
}

.tabs {
    margin-bottom: 40px;
}

.btn.w3-red {
    background-color: #c8080c;
    border: 1px solid #fff;
    color: #fff;
}

.contact__content {
    display: flex;
    width: 100%;
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
}

.contact__content label {
    color: #95959a;
}

.contact__content--left {
    width: 50%;
    background-color: #282a34;
    padding: 50px 40px;
}

.contact__content--left input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #686970;
    color: #fff;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 4px;
}

.contact__content--left form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact__content--right {
    width: 50%;
    background-color: #1c1e25;
    padding: 50px 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-container {
    padding-bottom: 50px;
}

.contact__us--btn {
    width: 120px;
    margin-top: 20px;
}

.contact__title {
    font-size: 28px;
    margin-bottom: 30px;
}

.contact__info {
    font-size: 20px;
    margin-bottom: 30px;
}

.contact__info--text {
    color: #95959a;
}

.contact__testimonial {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 500px;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 35px;
}

.contact__testimonial img {
    width: 45px;
    height: 45px;
}

.portfolio-tabs {
  margin-bottom: 10px;
}

.portfolio-slide--left {
  width: 50%;
}

.portfolio__item--left {
  max-width: 100%;
}

.portfolio__img {
  margin: 20px;
  max-width: 500px;
  max-height: 300px;
}

textarea {
    width: 100%;
    color: #fff;
    height: 100px;
    padding: 5px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #686970;
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    resize: none;
}

footer {
    background-color: #15141a;
    padding: 30px;
    margin-top: 20px;
}

footer p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    color: #adb3c2;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 0vw;
    height: 0vh;
    z-index: 0;
}

.popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 0;
}

.popup .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.popup.active {
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

.popup.active .content {
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%) scale(1);
    z-index: 2;
    width: 1000px;
}

.popup.active .overlay {
    width: 100vw;
}

@media (max-width: 1080px) {
  .portfolio-slide--left {
    width: 100%;
  }

  .navigation__list {
    display: none;
  }

  .navigation__button {
    margin-right: 40px;
    margin-top: 15px;
    padding: 25px 60px;
    font-size: 18px;
  }
  
  .ipad {
    max-width: 100%;
    margin-top: 40px;
  }

  .hero__title {
    margin-top: 45px;
  }

  .logo {
    margin-left: 40px;
  }

  .popup.active .content {
    width: 730px;
  }

  .technology__content {
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
  }

  .technology__content--left {
    text-align: center;
    max-width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }

  .technology__content--right {
    padding: 60px 60px 20px 60px;
  }

  .technology__item {
    justify-content: space-between;
  }

  .technology__item--left {
    max-width: 600px;
  } 

  .technology__item--right {
    min-width: 138px;
  }

  .technology__item--left p {
    font-size: 18px;
  }

  .technology__item--left h4 {
    font-size: 20px;
  }

  footer p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .hero__button {
    font-size: 18px;
    padding: 20px 40px;
  }

  .navigation__button {
    display: none;
  }

  .logo {
    margin-left: 0;
  }

  .hero__title {
    font-size: 10vw;
    margin-top: 25px;
  }

  .hero-p {
    font-size: 5vw;
  }

  .navigation {
    justify-content: center;
  }

  .technology__item {
    flex-direction: column;
    margin-bottom: 50px;
    gap: 40px;
  }

  .technology__item--right {
    align-items: center;
  }

  .technology__item--left p {
    text-align: center;
    font-size: 20px;
  }

  .technology__item--left h4 {
    text-align: center;
    font-size: 24px;
  }

  .technology__content--right {
    padding: 30px 30px 0 30px;
  }

  .technology__item--right h4 {
    font-size: 45px;
  }

  .technology__item--right p {
    font-size: 20px;
  }

  .stack__content {
    padding: 0 20px;
  }

  .stack__subtitle {
    text-align: center;
    padding: 0 10px;
  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 10px;
    gap: 10px;
  }

  .w3-button {
    width: 192px;
  }

  .contact__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact__content--left, .contact__content--right {
    width: 80%;
  }

  .portfolio-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 10px;
    gap: 10px;
  }

  .portfolio__img {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .technology__title {
    font-size: 32px;
    padding: 0;
  }

  .stack__title {
    margin-top: 30px;
  }

  .project__title {
    font-size: 38px;
    margin: 30px 15px;
  }

  .clients__card {
    width: 180px;
    height: 180px;
  }

  #mostbet {
    max-width: 172px;
  }

  #ligastavok {
    max-width: 165px;
  }

  #gg {
    max-width: 142px;
  }

  #gambling {
    max-width: 225px;
  }

  #offerum {
    max-width: 188px;
  }

  #alfaleads {
    max-width: 128px;
  }

  #applink {
    max-width: 90px;
  }

  #whitebit {
    max-width: 98px;
  }

  .clients__title {
    font-size: 38px;
    margin: 20px 10px 40px;
  }

  .clients__card:nth-child(2n + 1) {
    display: none;
  }

  .w3-button {
    width: 161px;
    padding: 5px 2px;
  }

  .form-container {
    padding-bottom: 0;
  }
}